.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85vw;
	margin: auto;
}
.logo {
	text-align: center;
	transform: rotate(0deg);
	transition-duration: .2sec;
	order: 2;
	margin-right: 10rem;
}
.logo:hover {
	transform: rotate(15deg);
}
.social__media {
	display: flex;
	order: 3;
}
nav {
	display: flex;
	justify-content: space-between;
	order: 1;
}
nav ul {
	display: flex;
	justify-content: space-around;
}
.container {
	display: grid;
	grid-template-rows: 75px auto 40px;
}
#index__container {
	display: grid;
	grid-template-rows: 75px auto;
	height: 100vh
}
.about__me__main{
	display: grid;
	grid-template-rows: repeat(3, minmax(100vh, auto));
}
.projects__main{
	display: grid;
	grid-template-rows: repeat(1, minmax(100vh,auto));
	height: calc(100vh-75px);
}
.index__main {
	display: grid;
	height: calc(100vh-75px);
}
#home {
	display: flex;
	justify-content: center;
	margin: auto;
	flex-direction: column;
}
#about__me {
	display: flex;
	justify-content: space-around;
	flex-shrink: 2; 
}
#about__me__text {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#projects {
	display: flex;
	flex-direction: column;
}
#projects__title {
	align-self: center;
	margin-top: 3rem;
}

.cards {
	display: flex;
	flex-direction: row;
	width: 75vw;
	flex-wrap: wrap;
	margin: auto;
	align-items: center;
	justify-content: space-around;
}
.card__body {
    padding: 19px;
}
    .card p {
        padding: 5px;
    }
.card, .main__card {
	flex-direction: column;
	text-align: center;
	flex-grow: 1;
	flex-basis: 250px;
	margin: 1rem;
}
 .main__card {
	display: none;
}
footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
footer .nav__menu {
	margin-left: 15rem;
}

