.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85vw;
	margin: auto;
}
.logo {
	text-align: center;
	transform: rotate(0deg);
	transition-duration: .2sec;
}
.logo:hover {
	transform: rotate(15deg);
}
.social-media {
	display: flex;
}
nav {
	display: flex;
	justify-content: space-between;
}
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.container {
	display: grid;
	grid-template-rows: 75px auto 75px;
}
main{
	display: grid;
	grid-template-rows: repeat(3, minmax(100vh, auto));
}
.projects__main{
	display: grid;
	grid-template-rows: repeat(1, minmax(100vh,auto));
}
#home {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: auto;
}
.home-center {
	display: flex;
	align-items: center;
	margin: auto;
	flex-direction: column;
}
#home-picture {
	display: flex;
	align-self: center;
	margin: auto;
}
.home-text {
	text-align: center;
	align-self: center;
}
#about-me {
	display: flex;
	justify-content: space-around;
	flex-shrink: 2; 
}
#about-me-text {
	display: flex;
	align-items: center;
	flex-direction: column;
}
#projects {
	display: flex;
	flex-direction: column;
}
#projects-title {
	align-self: center;
	margin-top: 3rem;
}

.cards {
	display: flex;
	flex-direction: row;
	width: 75vw;
	flex-wrap: wrap;
	margin: auto;
	align-items: center;
	justify-content: space-around;
}
.card-body {
    padding: 19px;
}
    .card p {
        padding: 5px;
    }
.card {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex-grow: 1;
	flex-basis: 250px;
	margin: 1rem;
}
footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

