header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo {
	text-align: center;
}
.social-media {
	display: flex;
	flex-direction: row
}
nav ul {
	display: flex;
	justify-content: space-around;
}
.container {
	display: grid;
	grid-template-rows: 75px auto 75px;
}
main{
	display: grid;
	grid-template-rows: 100vh 100vh 100vh;
}
#home {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.home-center {
	display: flex;
	align-items: center;
	margin: auto;
	flex-direction: column;
}
#home-picture {
	display: flex;
	align-self: center;
	margin: auto;
}
.home-text {
	text-align: center;
	align-self: center;
}
#about-me {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#about-me-text {
	display: flex;
	align-items: center;
	flex-direction: column;
}
#projects {
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
}
#projects h2 {
	margin-top: 3rem;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 3rem;
	width: 60vw;
	margin: auto;
	align-items: center;
}
.card-body {
    padding: 19px;
}
    .card p {
        padding: 5px;
    }
footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

