
* { 
	font-family: Helvetica, 'Times New Romans', sans-serif;
	 box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
	background-color: gray;
	color: white;
}
.social-media-images {
	height: 40px;
	width: 40px;
}
#home {
	background-color: white;
}
#about-me {
	background-color: lightgray;
}
#projects {
	background-color: white;
}
footer {
	background-color: black;
	color: white;
}
.card {
	background-color: white;
}
nav ul a {
	text-decoration: none;
	color: white;
	width: 5rem;
}
ul {
	list-style-type: none;
}
main {
	width: 60vw;
	margin: auto;
}
