.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #524E4F;
    color: white;
    padding: 1rem;
}

.footer-bottom p {
    margin: 0;
    font-size: small;
}

.footer-top {
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 1rem;
}

.footer-top img {
    height: 2rem;
    width: 2rem;
}